body {
    background: url("/images/gradient2.jpg") fixed;
}

h1 {
    font-size:400%;
    font-family:verdana;
    text-align:center;
    background-image: url('/images/grassy.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    height: 100px;
}

i {
    color: orange;
}

#quote {
    background-color: rgba(16, 77, 105, 0.4);
    border-style: solid;
    border-top-style: none;
    border-bottom-style: none;
    border-right-style: none;
    border-width: 4px;
    border-radius: 20px;
    border-color: rgb(202, 3, 176);
    margin: auto;
    outline: 2px solid rgb(219, 186, 123);
    outline-offset: 1px;
}

#marginauto {
    width: 300px;
    font-size: 25px;
    border: 2px solid blue;
    margin: auto;
    box-sizing: border-box;
    padding: 20px;
    outline: 2px solid red;
    text-shadow: 4px 3px 3px rgb(203, 58, 240), 
    2px 2px 25px blue, 5px 5px 10px teal;
}

pre {
    color:red;
}

div {
    background: url('/images/grassy.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    border:5px solid gold;
    padding: 10px;
    margin: 10px;
    
}

.buhbus:visited, .buhbus:link {
    background-color: Orange;
    color: aqua;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: bolder;
}

ul {
    list-style-image: url("/images/snailemoji.png");
    list-style-position: inside;
}

.buhbus:hover, .buhbus:active {
    background-color: red;
    opacity: 0.2;
} 

.ask:link, .ask:visited {
    background-color: blue;
    color: aqua;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: bolder;
} 

.ask:hover, .ask:active {
    background-color: red;
} 

table, th, td {
    border:1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
    border-spacing: 10px;
}

tr:hover {
    background-color: rgba(235, 23, 23, 0.8);
    color: black;
}

