body {
    background-color: lightpink;
}

h1 {
    font-size:400%;
    font-family:verdana;
    text-align:center;
    background-color:lightblue;
}

pre {
    color:red;
}

b {
    color:green;
}

div {
    border:5px solid gold;
    padding: 10px;
    margin: 10px;
}