body {
    background-color: lightpink;
}

h1 {
    font-size:400%;
    font-family:verdana;
    text-align:center;
    background-image: url('/images/grassy.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    height: 100px;
}

pre {
    color:red;
}

b {
    color:green;
}

div {
    border:5px solid gold;
    padding: 10px;
    margin: 10px;
    
}

.buhbus:visited, .buhbus:link {
    background-color: Orange;
    color: aqua;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: bolder;
}

.buhbus:hover, .buhbus:active {
    background-color: red;
} 

.ask:link, .ask:visited {
    background-color: blue;
    color: aqua;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: bolder;
} 

.ask:hover, .ask:active {
    background-color: red;
} 

table, th, td {
    border:1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
    border-spacing: 10px;
}

tr:hover {
    background-color: red;
    color: blue;
}

#yappers {
    height: 25px;
    background-color: bisque;
    border: 5px solid gold;
}

#directions {
    list-style-type: square;
}

#snailsare {
    list-style-type: none;
    overflow: hidden;
    background-color: darkseagreen;
    margin: 0;
    padding: 0;
}

.list {
    float: left;
}

.are {
    display: block;
    color: darkgreen;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    background-color: rgb(138, 219, 192);
}

#uselessButton {
    font-size: 15px;
    font-weight: bolder;
}

#fruffles {
    border: 2px solid black;
}

#iframe {
    border:3px solid darkorchid;
}

#iframeExplanation {
    font-size: 20px;
    color: darkblue;
    font-family: 'Times New Roman', Times, serif;
}