body {
    background: url("/images/gradient2.jpg") fixed;
}

.toptitle {
    position: sticky;
    padding-top: 12px;
    background-color: rgb(141, 141, 223);
    top: 0;
    font-size:400%;
    font-family:verdana;
    text-align:center;
    height: 100px;
    z-index: 2;
}

i {
    color: orange;
}

#quote {
    background-color: rgba(16, 77, 105, 0.4);
    border-style: solid;
    border-top-style: none;
    border-bottom-style: none;
    border-right-style: none;
    border-width: 4px;
    border-radius: 20px;
    border-color: rgb(202, 3, 176);
    margin: auto;
    outline: 2px solid rgb(219, 186, 123);
    outline-offset: 1px;
}

#marginauto {
    width: 300px;
    font-size: 25px;
    border: 2px solid blue;
    margin: auto;
    box-sizing: border-box;
    padding: 20px;
    outline: 2px solid red;
    text-shadow: 4px 3px 3px rgb(203, 58, 240), 
    2px 2px 25px blue, 5px 5px 10px teal;
}

pre {
    color:red;
}

.box {
    background: url('/images/grassy.jpg');
    background-attachment: fixed;
    background-repeat: repeat;
    border:5px solid gold;
    padding: 10px;
    margin: 10px;
    
}

.buhbus:visited, .buhbus:link {
    background-color: Orange;
    color: aqua;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: bolder;
}

.twosnails {
    position: relative;
    z-index: -1;
}

.twosnailstext {
    color:rgb(203, 58, 240);
    text-shadow: 3px 3px 5px black;
    position: absolute;
    top: 50%;
    font-size: 30px;
}

.emoji {
    list-style-image: url("/images/snailemoji.png");
    list-style-position: inside;
}

.buhbus:hover, .buhbus:active {
    background-color: red;
    opacity: 0.2;
} 

.ask:link, .ask:visited {
    background-color: blue;
    color: aqua;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: bolder;
} 

.ask:hover, .ask:active {
    background-color: red;
} 

table, th, td {
    border:1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
    border-spacing: 10px;
}

tr:hover {
    background-color: rgba(235, 23, 23, 0.8);
    color: black;
}

#overflow {
    background-color: green;
    width: 400px;
    height: 120px;
    font-size: 200%;
    overflow: auto;
}

.highlight {
    font-size: 30px;
    color: rgb(59, 52, 10);
}

.highlight::selection {
    background: rgba(255, 0, 0, 0.534);
    color: whitesmoke;
}

.snailz {
    opacity: 0.6;
    height: 150px;
}

.snailz:hover {
    opacity: 1;
}

.snailshrimp {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 2px solid black;
    height: 300px;
    width: 450px;
    background-image: url("/images/snailtext.jpg");
    background-size: cover;
}

.snailtext {
    border: 2 px solid rgba(0, 0, 0, 0.644);
    margin: 20px;
    margin-top: 80px;
    padding: 7px;
    background: rgba(49, 46, 46, 0.473);
}

.snailtext p {
    color: white;
    font-size: 22px;
    text-shadow: 2px 2px black;
} 

.snaillist {
    z-index: 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;  
    overflow: hidden;
}

.snaillist li {
    font-weight: bold;
}

.snaillist a {
    float: right;
    border-right: 1px solid white;
    background-color: rgba(0, 0, 0, 0.623);
    display: block;
    text-decoration: none;
    color: rgb(233, 233, 233);
    padding: 10px;
}

.snaillist a:hover {
    background-color: black;
    color: white;
}

#snailhome {
    width: 100px;
    text-align: center;
    font-weight: bolder;
    background-color: rgb(21, 21, 54);
    color:rgb(255, 255, 255);
}

#about {
    border-left: 1px solid white;
}

.dropbtn {
    background-color: rgb(154, 154, 189);
    color: black;
    padding: 15px;
    font-size: 22px;
    border: 2px solid gray;
}

.dropdown {
    z-index: 1;
    position: relative;
    display: inline-block;
}

.dropchoices {
    display: none;
    position: absolute;
    background-color: aliceblue;
    min-width: 100px;
}

#droppic {
    position: relative;
    display: inline-block;
}

#droppiccontent {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: rgb(250, 190, 190);
    text-align: center;
}

#droppic:hover #droppiccontent {
    display: block;
}

.dropchoices a {
    color: black;
    padding: 12px 12px;
    text-decoration: none;
    display: block;
}

.dropchoices a:hover {
    background-color: aqua;
}

.dropdown:hover .dropchoices {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: aquamarine;
}

.bigsnail {
    list-style-type: none;
    padding: 20px;
}

.lilsnail {
    box-shadow: 10px 10px 5px -2px rgba(0, 0, 0, 0.13) inset;
    font-size: 2em;
    color: whitesmoke;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;;
    margin: 10px;
    background-color: blue;
    border: 2px solid rgb(22, 22, 126);
    padding: 10px;
    max-width: 100px;
    border-radius: 0px 50px 50px 0px;
}

.lilsnail:hover {
    box-shadow: 10px 7px 10px rgba(0, 0, 0, 0.466);
    max-width: 240px;
    font-weight: bold;
    color: white;
    background-color: black;
    border: 2px solid rgba(255, 255, 255, 0.575);
    
}

.snailbox {
    border-radius: 20px;
    border: 2px solid blueviolet;
    background-image: linear-gradient(45deg, rgb(139, 139, 255),rgb(189, 0, 189), rgba(29, 11, 192, 0.445));
    width: 360px;  
}